<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1><%= @name.name %></h1>
      <p> <span class="label label-danger"><%= @name.gender %></span> <span class="label label-primary"><%= @name.country %></span> </p>
    </div>
  </div>
</div>

